.body{
   background-color:whitesmoke;
   margin: 0px;
}

.menu{
    display:flex;
    color:aqua;
    justify-content: space-between;
    background-color: black;
    font-size: 20px;
    font-family:fantasy;
    font-weight: 400;
    padding: 15px;
}
.grid{
    display:flex;
    flex-wrap: wrap;
    margin: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
}

.grid img{
    border: 2px solid black;
    border-radius: 50px;
}

.origami{
    border-radius: 20px;
    background-color:gray;
    width: 310px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 30px;
    margin: 300px;
}

.bodyImg{ 
    position: relative;
    width: 100%;
    height:200px;
    background-image: url("background.jpg");
    
}

a:link{
    color: greenyellow;
}

a:visited{
    color: indigo;
}

.origami:hover{
    transform:scale(1.2);
}

.bodyImg p{
    font-size: 55px;
    top: 10%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}

.bodyImg,h3{
    color: maroon;
    position: absolute;
   transform: translate(-40%,-40%);
   font-size: 30px;
   width: 1600px;
   top: 40%;
   left: 45%;
}